
  <ion-content color="colornuevo" padding>
      <form [formGroup]="modalForm" (ngSubmit)="modal()">
        <ion-grid>
          <ion-row color="colornuevo" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item>
                  <ion-input  formControlName="nombres" type="text" placeholder="Nombre" ngModel required></ion-input>
                  <div color="error"  *ngIf="f.nombres.errors">*</div>
                </ion-item>
                <ion-item>
                  <ion-input formControlName="cuenta" type="number" placeholder="Cuenta" ngModel required></ion-input>
                  <div color="error"  *ngIf="f.cuenta.errors">*</div>
                </ion-item>
                <ion-row >
                    <ion-col>
                        <ion-button float-left shape="round" type="submit" [disabled]="modalForm.invalid" > 
                            <ion-icon name="add"></ion-icon>
                        </ion-button>
                        <ion-button float-right shape="round" type="submit" [disabled]="modalForm.invalid" >
                            <ion-icon name="close"></ion-icon>
                        </ion-button>
                    </ion-col>
                  </ion-row>
              </div>
            
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-content>