ion-content{
    $colors: (
        primary:    #488aff,
  
        colornuevo:    #15d0b3
);
}

ion-content {
    background: #15d0b3;
}
ion-item{
    --background:#15d0b3;
    --color: #fff;
}

ion-button{
    
    --background:#fff;
    --color: #15d0b3;
    
    
}