ion-item{
    --background: #15D0B3;
    --color: #fff;
    --border-color: white;
}

ion-input{

    --placeholder-color: white; 
    --placeholder-opacity: 100;

}

.botonCerrar{
    --background: white;
    --opacity: 100;	
  
    font-weight: 900;
    color: #15D0B3;
}

ion-button{
    --background: white;
    --opacity: 100;	
   
    font-weight: 900;
    color: #15D0B3;
}

h3{
    color: white;
    
}

.divButton {
    padding-top: 40px;
    text-align: center;
} 
ion-content{
    $colors: (
        primary:    #488aff,
  
        colornuevo:    #15d0b3
);
}

ion-content {
    background: #15d0b3;
}
ion-header{
    $colors: (
        primary:    #488aff,
  
        colornuevo:    #15d0b3
);
}

ion-header {
    background: #15d0b3;
}
ion-title{
    
    --background: #15d0b3;;
    --color: #fff;
    
    
}